<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Regression Suite" verbose="1" configfailurepolicy="continue" parallel="none" thread-count="1">
    <listeners>
    </listeners>
    <test name="Regression">
        <packages>
            <package name="io.ctdev.tests.*"/>
        </packages>
        <classes>
            <class name="io.ctdev.tests.JuiceShopSignupTest">
            </class>
            <class name="io.ctdev.tests.JuiceShopLoginTest">
            </class>
            <class name="io.ctdev.tests.JuiceShopLoginNegativeFlow">
            </class>
            <class name="io.ctdev.tests.JuiceShopSignUpFieldsValidation">
            </class>
            <class name="io.ctdev.tests.JuiceShopAddToBasketSoldOutItem">
            </class>
            <class name="io.ctdev.tests.JuiceShopProductDataVerify">
            </class>
            <class name="io.ctdev.tests.JuiceShopAddProductToBasket">
            </class>
        </classes>
    </test>

</suite>
